src/TuyenSinhWinApp/Connected Services/TuyenSinhServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" />
  <xs:element name="DangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenDangNhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matKhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="DangNhapResult" nillable="true" type="q1:KetQuaDangNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemHocSinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="hocSinh" nillable="true" type="q2:HocSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="ThemHocSinhResult" nillable="true" type="q3:KetQuaThemHocSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachHocSinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="LayDanhSachHocSinhResult" nillable="true" type="q4:ArrayOfHocSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GanMaSoBaoDanhHangLoat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GanMaSoBaoDanhHangLoatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatHocSinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="hocSinh" nillable="true" type="q5:HocSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapNhatHocSinhResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatDiemHocSinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maHocSinh" type="xs:int" />
        <xs:element minOccurs="0" name="diemToan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diemVan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diemAnh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diemKhuyenKhich" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="diemUuTien" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatDiemHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapNhatDiemHocSinhResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaHocSinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maHocSinh" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaHocSinhResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiaPhongThi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiaPhongThiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChiaPhongThiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachPhongThi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachPhongThiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="LayDanhSachPhongThiResult" nillable="true" type="q6:ArrayOfPhongThi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachHocSinhTheoPhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maPhongThi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachHocSinhTheoPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="LayDanhSachHocSinhTheoPhongResult" nillable="true" type="q7:ArrayOfHocSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachDotTuyen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachDotTuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="LayDanhSachDotTuyenResult" nillable="true" type="q8:ArrayOfDotTuyenSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemDotTuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="dot" nillable="true" type="q9:DotTuyenSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemDotTuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemDotTuyenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DongDotTuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DongDotTuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DongDotTuyenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatDotTuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="dot" nillable="true" type="q10:DotTuyenSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatDotTuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapNhatDotTuyenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatGiamThi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maPhong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="giamThi1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="giamThi2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatGiamThiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatDiemTheoMon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maHocSinh" type="xs:int" />
        <xs:element minOccurs="0" name="tenMon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diemText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatDiemTheoMonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapNhatDiemTheoMonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayChiTieuTruong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayChiTieuTruongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="LayChiTieuTruongResult" nillable="true" type="q11:ChiTieuTuyenSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatChiTieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chiTieu" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatChiTieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapNhatChiTieuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XetTrungTuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XetTrungTuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XetTrungTuyenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachTrungTuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachTrungTuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="LayDanhSachTrungTuyenResult" nillable="true" type="q12:ArrayOfHocSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeDiemTheoMon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeDiemTheoMonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="ThongKeDiemTheoMonResult" nillable="true" type="q13:ArrayOfThongKeDiemMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeTheoTHCS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeTheoTHCSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="ThongKeTheoTHCSResult" nillable="true" type="q14:ArrayOfThongKeTHCSRow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeVangThi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongKeVangThiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="ThongKeVangThiResult" nillable="true" type="q15:VangThiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_LayDanhSachTruong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_LayDanhSachTruongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="Admin_LayDanhSachTruongResult" nillable="true" type="q16:ArrayOfTruongItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_LayDanhSachHocSinhTheoTruongDot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_LayDanhSachHocSinhTheoTruongDotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="Admin_LayDanhSachHocSinhTheoTruongDotResult" nillable="true" type="q17:ArrayOfHocSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_LayDanhSachHocSinhTheoPhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maPhongThi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_LayDanhSachHocSinhTheoPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="Admin_LayDanhSachHocSinhTheoPhongResult" nillable="true" type="q18:ArrayOfHocSinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_CapNhatDiemHocSinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maHocSinh" type="xs:int" />
        <xs:element minOccurs="0" name="diemToan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diemVan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diemAnh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diemKhuyenKhich" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="diemUuTien" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_CapNhatDiemHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Admin_CapNhatDiemHocSinhResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_LayDanhSachPhongThi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maDot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Admin_LayDanhSachPhongThiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="Admin_LayDanhSachPhongThiResult" nillable="true" type="q19:ArrayOfPhongThi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachNguoiDungTheoTruong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachNguoiDungTheoTruongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="LayDanhSachNguoiDungTheoTruongResult" nillable="true" type="q20:ArrayOfNguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="nguoiDung" nillable="true" type="q21:NguoiDung" />
        <xs:element minOccurs="0" name="matKhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemNguoiDungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="nguoiDung" nillable="true" type="q22:NguoiDung" />
        <xs:element minOccurs="0" name="matKhauMoi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapNhatNguoiDungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maNguoiDung" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaNguoiDungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraTruongTonTai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraTruongTonTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraTruongTonTaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemTruong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="truong" nillable="true" type="q23:TruongHoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemTruongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemTruongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTenTruongFromMaTruong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTenTruongFromMaTruongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTenTruongFromMaTruongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachTruong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachTruongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="LayDanhSachTruongResult" nillable="true" type="q24:ArrayOfTruongHoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatTruong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" minOccurs="0" name="truong" nillable="true" type="q25:TruongHoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatTruongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapNhatTruongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaTruong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTruong" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaTruongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaTruongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>