src/TuyenSinhWinApp/Connected Services/TuyenSinhServiceReference/TuyenSinhServiceLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TuyenSinhServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KetQuaDangNhap">
    <xs:sequence>
      <xs:element minOccurs="0" name="NguoiDung" nillable="true" type="tns:NguoiDung" />
      <xs:element minOccurs="0" name="ThanhCong" type="xs:boolean" />
      <xs:element minOccurs="0" name="ThongBao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KetQuaDangNhap" nillable="true" type="tns:KetQuaDangNhap" />
  <xs:complexType name="NguoiDung">
    <xs:sequence>
      <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaNguoiDung" type="xs:int" />
      <xs:element minOccurs="0" name="MaTruong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatKhau" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenDangNhap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VaiTro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NguoiDung" nillable="true" type="tns:NguoiDung" />
  <xs:complexType name="HocSinh">
    <xs:sequence>
      <xs:element minOccurs="0" name="DanToc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiemAnh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiemKhuyenKhich" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiemToan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiemTong" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiemUuTien" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiemVan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GhiChu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GioiTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaDot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaHocSinh" type="xs:int" />
      <xs:element minOccurs="0" name="MaSoBaoDanh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaTruong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayDangKy" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NgaySinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NoiSinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhongThi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrangThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruongTHCS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HocSinh" nillable="true" type="tns:HocSinh" />
  <xs:complexType name="KetQuaThemHocSinh">
    <xs:sequence>
      <xs:element minOccurs="0" name="HocSinh" nillable="true" type="tns:HocSinh" />
      <xs:element minOccurs="0" name="MaSoBaoDanh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThanhCong" type="xs:boolean" />
      <xs:element minOccurs="0" name="ThongBao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KetQuaThemHocSinh" nillable="true" type="tns:KetQuaThemHocSinh" />
  <xs:complexType name="ArrayOfHocSinh">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HocSinh" nillable="true" type="tns:HocSinh" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHocSinh" nillable="true" type="tns:ArrayOfHocSinh" />
  <xs:complexType name="ArrayOfPhongThi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhongThi" nillable="true" type="tns:PhongThi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhongThi" nillable="true" type="tns:ArrayOfPhongThi" />
  <xs:complexType name="PhongThi">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaDiem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GiamThi1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GiamThi2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaDot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaPhong" type="xs:int" />
      <xs:element minOccurs="0" name="MaPhongThi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaTruong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayThi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SoLuongHienTai" type="xs:int" />
      <xs:element minOccurs="0" name="SoLuongToiDa" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhongThi" nillable="true" type="tns:PhongThi" />
  <xs:complexType name="ArrayOfDotTuyenSinh">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DotTuyenSinh" nillable="true" type="tns:DotTuyenSinh" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDotTuyenSinh" nillable="true" type="tns:ArrayOfDotTuyenSinh" />
  <xs:complexType name="DotTuyenSinh">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaDot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nam" type="xs:int" />
      <xs:element minOccurs="0" name="NgayBatDau" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NgayKetThuc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TenDot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrangThai" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DotTuyenSinh" nillable="true" type="tns:DotTuyenSinh" />
  <xs:complexType name="ChiTieuTuyenSinh">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChiTieu" type="xs:int" />
      <xs:element minOccurs="0" name="MaDot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaTruong" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChiTieuTuyenSinh" nillable="true" type="tns:ChiTieuTuyenSinh" />
  <xs:complexType name="ArrayOfThongKeDiemMon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ThongKeDiemMon" nillable="true" type="tns:ThongKeDiemMon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfThongKeDiemMon" nillable="true" type="tns:ArrayOfThongKeDiemMon" />
  <xs:complexType name="ThongKeDiemMon">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoThi" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Muc" type="xs:decimal" />
      <xs:element minOccurs="0" name="SoLuong" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThongKeDiemMon" nillable="true" type="tns:ThongKeDiemMon" />
  <xs:complexType name="ArrayOfThongKeTHCSRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ThongKeTHCSRow" nillable="true" type="tns:ThongKeTHCSRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfThongKeTHCSRow" nillable="true" type="tns:ArrayOfThongKeTHCSRow" />
  <xs:complexType name="ThongKeTHCSRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoThi" type="xs:int" />
      <xs:element minOccurs="0" name="Dau" type="xs:int" />
      <xs:element minOccurs="0" name="DuThi" type="xs:int" />
      <xs:element minOccurs="0" name="Hong" type="xs:int" />
      <xs:element minOccurs="0" name="M0_3" type="xs:int" />
      <xs:element minOccurs="0" name="M3_5" type="xs:int" />
      <xs:element minOccurs="0" name="M5_7" type="xs:int" />
      <xs:element minOccurs="0" name="M7_9" type="xs:int" />
      <xs:element minOccurs="0" name="M9_10" type="xs:int" />
      <xs:element minOccurs="0" name="Mon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TSNu" type="xs:int" />
      <xs:element minOccurs="0" name="TongTS" type="xs:int" />
      <xs:element minOccurs="0" name="TruongTHCS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TyLe0_3" type="xs:decimal" />
      <xs:element minOccurs="0" name="TyLe3_5" type="xs:decimal" />
      <xs:element minOccurs="0" name="TyLe5_7" type="xs:decimal" />
      <xs:element minOccurs="0" name="TyLe7_9" type="xs:decimal" />
      <xs:element minOccurs="0" name="TyLe9_10" type="xs:decimal" />
      <xs:element minOccurs="0" name="TyLeDau" type="xs:decimal" />
      <xs:element minOccurs="0" name="TyLeHong" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThongKeTHCSRow" nillable="true" type="tns:ThongKeTHCSRow" />
  <xs:complexType name="VangThiResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DanhSach" nillable="true" type="tns:ArrayOfVangThiHocSinhItem" />
      <xs:element minOccurs="0" name="TongHop" nillable="true" type="tns:VangThiTongHop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VangThiResult" nillable="true" type="tns:VangThiResult" />
  <xs:complexType name="ArrayOfVangThiHocSinhItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VangThiHocSinhItem" nillable="true" type="tns:VangThiHocSinhItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVangThiHocSinhItem" nillable="true" type="tns:ArrayOfVangThiHocSinhItem" />
  <xs:complexType name="VangThiHocSinhItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaHocSinh" type="xs:int" />
      <xs:element minOccurs="0" name="MaSoBaoDanh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaTruong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhongThi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruongTHCS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VangAnh" type="xs:boolean" />
      <xs:element minOccurs="0" name="VangAny" type="xs:boolean" />
      <xs:element minOccurs="0" name="VangToan" type="xs:boolean" />
      <xs:element minOccurs="0" name="VangVan" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VangThiHocSinhItem" nillable="true" type="tns:VangThiHocSinhItem" />
  <xs:complexType name="VangThiTongHop">
    <xs:sequence>
      <xs:element minOccurs="0" name="TongVangAny" type="xs:int" />
      <xs:element minOccurs="0" name="VangAnh" type="xs:int" />
      <xs:element minOccurs="0" name="VangToan" type="xs:int" />
      <xs:element minOccurs="0" name="VangVan" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VangThiTongHop" nillable="true" type="tns:VangThiTongHop" />
  <xs:complexType name="ArrayOfTruongItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TruongItem" nillable="true" type="tns:TruongItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTruongItem" nillable="true" type="tns:ArrayOfTruongItem" />
  <xs:complexType name="TruongItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaTruong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenTruong" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TruongItem" nillable="true" type="tns:TruongItem" />
  <xs:complexType name="ArrayOfNguoiDung">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NguoiDung" nillable="true" type="tns:NguoiDung" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNguoiDung" nillable="true" type="tns:ArrayOfNguoiDung" />
  <xs:complexType name="TruongHoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaTruong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoDienThoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenTruong" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TruongHoc" nillable="true" type="tns:TruongHoc" />
  <xs:complexType name="ArrayOfTruongHoc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TruongHoc" nillable="true" type="tns:TruongHoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTruongHoc" nillable="true" type="tns:ArrayOfTruongHoc" />
</xs:schema>